.sidebar ul li:hover {
  background-color: gray;
  /* color: white; */
  border-radius: 5px;
  cursor: pointer;
}

.sidebar ul li:hover a {
  color: white;
}

.active {
  background-color: gray;
  color: white;
  border-radius: 5px;
}
